services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: lightlogger
    working_dir: /app
    volumes:
      - .:/app
      - go_mod_cache:/go/pkg/mod
      - go_build_cache:/root/.cache/go-build
    ports:
      - "8080:8080"

volumes:
  go_mod_cache:
  go_build_cache:
