services:
  backend:
    image: golang:1.25
    working_dir: /app
    volumes:
      - .:/app
      - go_mod_cache:/go/pkg/mod
      - go_build_cache:/root/.cache/go-build
    ports:
      - "8080:8080"
    command: go run cmd/lightlogger/main.go
    develop:
      watch:
        - action: sync+restart
          path: ./cmd
          target: /app/cmd

volumes:
  go_mod_cache:
  go_build_cache:
